<div ng-if="!$ctrl.hasQuit">
  <number-input on-submit="$ctrl.onSubmit(number)"></number-input>
  <fibonacci number="$ctrl.lastSubmitted"></fibonacci>
  <div>
    <button class="toggle" ng-click="$ctrl.toggle()">{{$ctrl.running ? "Halt" : "Resume"}}</button>
    <button ng-click="$ctrl.quit()">Quit</button>
  </div>
  <table class="output">
    <tr>
      <th class="timestamp">Timestamp</th>
      <th class="message">Message</th>
    </tr>
    <tr ng-repeat="record in $ctrl.output">
      <td>{{record.timestamp}}</td>
      <td>{{record.message}}</td>
    </tr>
  </table>
</div>

<div ng-if="$ctrl.hasQuit">
  Thanks for playing! Here is the final tally:
  <div>{{$ctrl.output[$ctrl.output.length - 1].message || '(no numbers were input)'}}</div>
</div>
